<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="row justify-content-center text-center mt-2">
    <div class="col-lg-8 col-md-8 col-xs-12">
      <h2 class="text-center text-light">{{ "SignUp" | translate }}</h2>
    </div>
  </div>
  <hr />

  <div class="row justify-content-center text-center">
  <div class="form-group">
    <label class="control-label" style="margin-right:10px">{{ "Iam" | translate }} </label>
    <label class="radio-inline">
      <input
        class="mr-3"
        type="radio"
        value="male"
        formControlName="gender"
      />{{ "Male" | translate }}
    </label>
    <label class="radio-inline ml-3">
      <input
        class="mr-3"
        type="radio"
        value="female"
        formControlName="gender"
      />{{ "Female" | translate }}
    </label>
  </div>
</div>

  <div class="form-group">
    <input
      type="text"
      [ngClass]="{
        'is-invalid':
          registerForm.get('username').errors &&
          registerForm.get('username').touched
      }"
      class="form-control"
      formControlName="username"
      placeholder="{{ 'Username' | translate }}"
    />
    <div class="invalid-feedback">{{ "UsernameRequired" | translate }}</div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('knownAs').errors &&
          registerForm.get('knownAs').touched
      }"
      class="form-control"
      placeholder="{{ 'KnownAs' | translate }}"
      formControlName="knownAs"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('knownAs').touched &&
        registerForm.get('knownAs').hasError('required')
      "
    >
    {{ "KnownAsRequired" | translate }}
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('dateBirth').errors &&
          registerForm.get('dateBirth').touched
      }"
      class="form-control"
      placeholder="{{ 'DateBirth' | translate }}"
      formControlName="dateBirth"
      type="text"
      bsDatepicker
      [bsConfig]="bsConfig"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('dateBirth').touched &&
        registerForm.get('dateBirth').hasError('required')
      "
    >
    {{ "DateBirthRequired" | translate }}
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('city').errors && registerForm.get('city').touched
      }"
      class="form-control"
      placeholder="{{ 'City' | translate }}"
      formControlName="city"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('city').touched &&
        registerForm.get('city').hasError('required')
      "
    >
    {{ "CityRequired" | translate }}
    </div>
  </div>

  <div class="form-group">
    <input
      [ngClass]="{
        'is-invalid':
          registerForm.get('country').errors &&
          registerForm.get('country').touched
      }"
      class="form-control"
      placeholder="{{ 'Country' | translate }}"
      formControlName="country"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('country').touched &&
        registerForm.get('country').hasError('required')
      "
    >
    {{ "CountryRequired" | translate }}
    </div>
  </div>

  <div class="form-group">
    <input
      type="password"
      [ngClass]="{
        'is-invalid':
          registerForm.get('password').errors &&
          registerForm.get('password').touched
      }"
      class="form-control"
      formControlName="password"
      placeholder="{{ 'Password' | translate }}"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('required') &&
        registerForm.get('password').touched
      "
    >
    {{ "PasswordRequired" | translate }}
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('minlength') &&
        registerForm.get('password').touched
      "
    >
    {{ "PasswordMin" | translate }}
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('password').hasError('maxlength') &&
        registerForm.get('password').touched
      "
    >
    {{ "PasswordMax" | translate }}
    </div>
  </div>

  <div class="form-group">
    <input
      type="password"
      [ngClass]="{
        'is-invalid':
          (registerForm.get('confirmPassword').errors &&
            registerForm.get('confirmPassword').touched) ||
          (registerForm.get('confirmPassword').touched &&
            registerForm.hasError('mismatch'))
      }"
      class="form-control"
      formControlName="confirmPassword"
      placeholder="{{ 'ConfirmPassword' | translate }}"
    />
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.get('confirmPassword').hasError('required') &&
        registerForm.get('confirmPassword').touched
      "
    >
    {{ "ConfirmPasswordRequired" | translate }}
    </div>
    <div
      class="invalid-feedback"
      *ngIf="
        registerForm.hasError('mismatch') &&
        registerForm.get('confirmPassword').touched
      "
    >
    {{ "ConfirmPasswordValid" | translate }}
    </div>
  </div>

  <div class="form-group text-center">
    <button
      class="btn btn-success"
      [disabled]="!registerForm.valid"
      type="submit"
    >
    {{ "Register" | translate }}
    </button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      {{ "Cancel" | translate }}
    </button>
  </div>
</form>

